@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar {
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
